body{
    text-align: center;
    background-color: darkgray;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight:bold ;
}
.first-dice{
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.second-dice{
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}